<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HouseBooking</title>
  <link rel="stylesheet" href="/stylesheets/style1.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="container">
    <div class="image-gallery">
      <a href="/users/<%= user._id %>/applications/booking-1">
        <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTE2MjI1MjI0NDQ0MzYzMjM4Mg%3D%3D/original/ae3426d1-fba4-44d4-bed2-690426f25f7a.jpeg?im_w=1920&im_q=highq" alt="Image 1">
      </a>
      <a href="/users/<%= user._id %>/applications/booking-2">
        <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTEzMTA4MzUyMzk5Mjc3MDU5Nw%3D%3D/original/dcb25748-642f-4314-9815-acaba652ca1e.jpeg?im_w=1440&im_q=highq" alt="Image 2">
      </a>
      <a href="/users/<%= user._id %>/applications/booking-3">
        <img src="https://a0.muscache.com/im/pictures/361a3a98-f697-4429-aeb7-3b3939d74bef.jpg?im_w=960" alt="Image 3">
      </a>
      <a href="/users/<%= user._id %>/applications/booking-4">
        <img src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-1155693327373557913/original/c5f67049-cd5b-4019-9915-dca2914eef38.jpeg?im_w=960" alt="Image 4">
      </a>
    </div>
    <div class="application">
      <ul>
        <% applications.forEach((application) => { %>
          <li>
            <a href="/users/<%= user._id %>/applications/<%= application._id %>">
              <%= application.name %>, you successfully booked the house on <%= application.title %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</body>
</html>
